{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:import/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-console": 0
  }
}